[submodule "src/angelscriptsdk"]
	path = src/angelscriptsdk
	url = https://github.com/RunnerScrab/angelscript-mirror.git
[submodule "src/libsodium"]
	path = src/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "src/zlib"]
	path = src/zlib
	url = https://github.com/madler/zlib
